#FRONTEND
API_URL=http://localhost:4000/api

#BACKEND
DB_USER=postgres
DB_PASSWORD=Brackix123
DB_HOST=100.89.126.5  
DB_PORT=5432
DB_NAME=metroapp
PORT=4000
FRONTEND_URL=http://localhost:3000
#PRISMA UZA ETO PA
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
